<div class="page-content">
  <div class="jumbotron">
    <h1 class="text-center">Register</h1>
    <p class="text-center">Please register in order to manage users</p>
    <form [formGroup]="form" (submit)="login()">
      <div class="form-group">
        <label for="emailInput">Email address</label>
        <input
          formControlName="email"
          type="email"
          class="form-control"
          [class.is-valid]="email?.valid && (email?.dirty || email?.touched)"
          [class.is-invalid]="
            email?.invalid && (email?.dirty || email?.touched)
          "
          id="emailInput"
          aria-describedby="emailHelp"
        />
        <!-- <div class="valid-feedback">Looks good!</div> -->
        <div class="invalid-feedback" *ngIf="email?.errors?.['required']">
          Email is required
        </div>
        <div class="invalid-feedback" *ngIf="email?.errors?.['email']">
          The email must be a valid email
        </div>
        <small id="emailHelp" class="form-text text-muted"
          >Your email will be your account id.</small
        >
      </div>
      <div class="form-group">
        <label for="passwordInput">Password</label>
        <div class="input-group">
          <input
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
            class="form-control"
            [class.is-valid]="
              password?.valid && (password?.dirty || password?.touched)
            "
            [class.is-invalid]="
              password?.invalid && (password?.dirty || password?.touched)
            "
            id="passwordInput"
            aria-describedby="passwordHelp"
          />
          <div class="input-group-append">
            <span class="input-group-text"
              ><i
                (click)="showPassword = !showPassword"
                class="fa"
                [class.fa-eye-slash]="!showPassword"
                [class.fa-eye]="showPassword"
                aria-hidden="true"
              ></i
            ></span>
          </div>
          <div class="invalid-feedback" *ngIf="password?.errors?.['required']">
            Password is required
          </div>
          <div class="invalid-feedback" *ngIf="password?.errors?.['pattern']">
            Your password must must contain at least one number, one symbol, one
            uppercase and one lowercase letter and have a min length of 8 and
            max of 12.
          </div>
        </div>
        <small id="passwordHelp" class="form-text text-muted"
          >Your password must must contain at least one number, one symbol, one
          uppercase and one lowercase letter and have a min length of 8 and max
          of 12.</small
        >
      </div>
      <ngb-alert
        type="danger"
        *ngIf="error$ | async as error"
        [dismissible]="false"
      >
        {{ error }}</ngb-alert
      >
      <button
        [disabled]="form?.invalid || (loading$ | async)"
        type="submit"
        class="btn btn-primary"
      >
        Register
        <i
          *ngIf="loading$ | async"
          class="fa fa-spinner fa-spin"
          style="margin-left: 1rem"
        ></i>
      </button>
    </form>
    <p class="register">
      Already have an account?
      <a [routerLink]="appRoutes.auth.login">Login</a>
    </p>
  </div>
</div>
